{% extends "base.html" %}


{% block content %}
<!-- begin content section -->
 <div class="row nav">
     {% if article.back is defined %}
        <div class="back">
            <a href="{{ article.back }}">Back</a>
        </div>
    {% endif %}
        <div class="hamburger">
             <a href='#map'><img src="theme/images/hamburger.svg"></a>
        </div>
 </div>
 <div style="clear: both;"></div>
 <!-- clear the float -->
 <!-- end of nav section -->
 

<!-- begin content section -->
<div class="row content">
 <div class="col-md-8">
  {{ article.content }}
 </div>

  {% if article.tip is defined %}
    <div class="tip">
        <p>  
        {{ article.tip }}
        </p>
    </div>
  {% endif %}
</div>
<!-- end content section -->


 <!-- Puzzle only zone -->
{% if article.puzzle_id is defined %}
    <!-- begin puzzle section -->
    <div class="row puzzle" id="{{ article.puzzle_id }}">

        {% if article.puzzle_audio is defined %}
            <audio
                class="mejs__player"
                controls
                src="/media/{{ article.puzzle_audio }}">
                    Your browser does not support the
                    <code>audio</code> element, please read the transcript instead.
            </audio>
        {% else %}
        <!-- puzzle content will be populated by JS -->
            <div class="puzzle-content"></div>

        {% endif %}

        <div class="prompt">
            <p>{{ article.question_prompt }}</p>
        </div>

            <div class="solution">
            {% if article.puzzle_solution_type != 'action' %}
                <p>Your answer</p>
                <input type="{{ article.puzzle_solution_type }}" />
            {% endif %}
                <div class="solution-check"></div> <!-- Div where the JS displays if user's solution is correct or not -->
            </div>

    </div>
    <!-- end puzzle section -->
{% endif %}
 <!-- end puzzle only zone -->

{% if article.next is defined %}
      <a href="{{ article.next }}">
      <div class="button">
        <p>{{ article.next_text }}</p>
      </div>
      </a>

    </div>
{% endif %}
<div id='map' title="NAVIGATION" class='nav-bg'>
    <div class='nav-map'>
        <div data-attribute='bedroom' class='nav-room bedroom locked'><img src='/media/lock.svg'></div>
        <div data-attribute='secret' class='nav-room secret locked'><img src='/media/lock.svg'></div>
        <div data-attribute='library' class='nav-room library locked'><img src='/media/lock.svg'></div>
        <div data-attribute='study' class='nav-room study locked'><img src='/media/lock.svg'></div>
        <div data-attribute='foyer' class='nav-room foyer locked'><img src='/media/lock.svg'></div>
    </div>
    <div class='tip'>
        Tap or click on rooms in floor plan to navigate through the residence.
    </div>
</div>
{% endblock %}
