@font-face {
font-family: "SF Compact Text Bold";
font-style: bold;
src: url("/media/fonts/SF_Compact_Text_Bold/sf-compact-text-bold-webfont.woff2") format("woff2");
}

@font-face {
font-family: "SF Compact Text";
font-style: normal;
src: url("/media/fonts/SF_Compact_Text_Regular/fontsfree-net-sfcompacttext-regular-webfont.woff2") format("woff2");
}

@font-face {
font-family: "SF Compact Display Thin";
font-style: normal;
src: url("/media/fonts/SF_Compact_Display/sf-compact-display-thin.woff") format("woff");
}

@font-face {
font-family: "SF Compact Display Medium";
font-style: normal;
src: url("/media/fonts/SF_Compact_Display/sf-compact-display-medium.woff") format("woff");
}

/* Defaults */
html {
    font-style: normal;
    font-weight: normal;
    color: #000000;
    font-family: 'SF Compact Text', sans-serif;
}

a:link {
    color: #4A52FF;
}
a:visited {
    color: #4A52FF;
}


.ui-draggable, .ui-droppable {
    background-position: top;
}

div.container {
    /* Outermost div of whole app */
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
}

input[type=text] {
    border: 1px solid #000;
    height: 1.5em;
    padding: 0.5em;
    width: 100%;
}


div.hamburger {
    float: right;
    padding-right: 1em;
}

div.back {
    float: left;
}
p.solution-check{
    display: inline;
    padding-left: 0.5em;
    font-size: small;

}
.success {
    color: #009D10;
}
.failure {
    color: #D50000;
}

div.tip {
    background-color: #E6F4FF;
    color:#000;
    width: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left:2em;
    padding-right:2em;
}
div.answer {
    padding: 2em;
}


div.next {
    text-align: center;
    padding:1em;
}

div.button {
    width: auto;
    display: inline-block;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-top:0.1em;
    padding-bottom:0.1em;
    background: #000000;
    margin: 0 auto;
}
.button p {
    color: #fff;
    text-align: center;
    line-height: 0.75em;
}

.button.locked p {
    color: #888;
}

.button a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.button.locked {
    color: #444;
}

div.inventory > p {
    text-align: left;
    color: #fff;
    padding: 15%;
    line-height: 1.5em;
}


h1 {

    font-family: Didot, 'Playfair Display', georgia;
    font-size: 2em;
    margin-top: 0em;
}

h3 {
    font-family: 'SF Compact Text Bold', 'Bebas Neue';
    color: #949494;
    margin-bottom: 0em;
    font-size: 1em;
}


p {
    font-size: 1em;
    line-height: 2em;
    color: #000000;
}

div.puzzle {
    width: 75%;
}

img.bulb {
    width:25%;
}
img.switch {
    width: 15%;
    padding-left: 5%;
    padding-right: 5%;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    outline: black;
    color: black;
}

.slick-prev:before, .slick-next:before {
    color: black;
}

/* Nav Map CSS */
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0px;
}
.ui-widget.ui-widget-content {
    border: none;
    padding: 0px;
}
.ui-dialog, .ui-dialog-dragging, .ui-dialog-resizing {
    color: #FFFFFF;
    padding: 0;
}
.ui-dialog .ui-dialog-content {
    padding: 0px;
}

.ui-widget-header {
    border: none;
}

.ui-dialog-titlebar {
    background-color: rgba(0,0,0,0);
}
.ui-dialog-title {
    color:#949494;
    font-size: 0.7em;
    font-family: 'SF Compact Display', sans-serif;
}

#map {
  background-color: #333333;
  height: 100vh;
  color: #FFFFFF;
  box-shadow: -5px 5px 20px #888;
}
div.nav-map {
    padding-bottom: 20%;
    padding-top: 20%;
    text-align: center;
    font-family: 'SF Compact Display Thin', sans-serif;
}
div.nav-room {
    color: #000000;
    height: 99px;
    margin-bottom: 6px;
    margin-right: 2px;
    display: inline-block;
}
div.nav-room.locked {
    background-color: #949494;
}
div.nav-room.unlocked {
    background-color: #E5E5E5;
}
div.nav-room.bedroom {width:116px;}
div.nav-room.secret {width:82px}
div.nav-room.library {width:99px}
div.nav-room.study {width:99px}
div.nav-room.foyer {width:204px; height:70px;}

div.nav-room > p > img {
    width:50px;
    margin-bottom: -2em; /* Fixes the weird offset issue*/
}

div#map > div.tip {
    margin-bottom: 15%;
}

div.discovery {
    padding: 1.5em;
}

div.discovery > div > p {
    line-height: 1.5em;
}
div.discovery > div.next > .button {
    background: #fff;
    border: 3px solid;
    border-color: #000;
}

div.discovery > div.next > .button > p {
    color: #000;
    line-height: 0.1em;
}

input.tea-puzzle {
    width: 3em;
}